firebase/public/*
firebase/functions/*.js
src/legilo/spa/version-time.txt

node_modules/

/target/
/checkouts/

.clj-kondo/.cache/
.cpcache/
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
