{:paths ["src" "resources"]
 :deps  {
         lilactown/helix {:mvn/version "0.0.13"}
         cljs-bean       {:mvn/version "1.6.0"}
         }

 :aliases {

           :shadow-cljs
           {:extra-paths ["dev"]
            :extra-deps  {thheller/shadow-cljs {:mvn/version "RELEASE"}
                          binaryage/devtools   {:mvn/version "RELEASE"}
                          cider/cider-nrepl    {:mvn/version "RELEASE"}}
            :main-opts   ["-m" "shadow.cljs.devtools.cli"]}

           :build-release
           {:extra-deps {thheller/shadow-cljs {:mvn/version "RELEASE"}}
            :main-opts ["-m" "shadow.cljs.devtools.cli" "release" "spa" "gcf"]}}}
