rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /radars/{radarId}/{document=**} {
      allow create:
          if request.auth != null;
      allow read, write:
          if request.auth != null
          && (  request.auth.uid in resource.data.uids
             || request.auth.token.email.matches(".*@" + resource.data["allow-domain"] + "$"));
    }

    match /users/{userId}/{document=**} {
      allow read, write:
          if request.auth != null
          && request.auth.uid == userId;
    }

    match /{document=**} {
      allow read, write:
          if request.time < timestamp.date(2020, 10, 24);
    }

  }
}